In [1]:
import pandas as pd
df=pd.DataFrame({'date':['2023-01-01','2023-01-02','2023-01-03','2023-01-03','2023-01-04','2023-01-05']})

In [2]:
df

         date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-03
4  2023-01-04
5  2023-01-05

In [17]:

df["weekday"] =["sunday","monday","Tuesday","wednessday","Thursday"]

ValueError: Length of values (5) does not match length of index (6)