In [1]:
import pandas as pd
df=pd.DataFrame({'Text':["saty Ranjan","Lipsta behera cuttack"]})
df

                    Text
0            saty Ranjan
1  Lipsta behera cuttack

In [10]:
New_column=["2","3"]