In [7]:
import pandas as pd
df=pd.DataFrame({'A':[3,8,6,2,9,],'B':[5,2,9,3,1],'C':[1,7,4,5,3]})
print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  3

In [10]:
df.loc[(df['A'] > 5) & (df['B'] < 10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  3