In [8]:
import pandas as pd
df=pd.DataFrame({'A':[10,20,30,40,50]})
df[["A"]]

    A
0  10
1  20
2  30
3  40
4  50

In [7]:
df.dtypes

A    int64
dtype: object

In [ ]:
import pandas as pd
df=pd.DataFrame({'A':[10,20,30,40,50]})
print(df)
total=0
for i in range(0,2):
total = total + df[i]
print("Sum of 3 elements in given list: ", total)